body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.scrCan {
  position: absolute;
  top: 0;
  left: 0;
}

#gridbg {
  opacity: 0.29;
}

#controls {
  background: white;
  position: absolute;
  min-width: 50vw;
  z-index: 1;
  /* https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#mVals > input {
  width: 3rem;
  margin-bottom: 0.3rem;
  margin-right: 0.15rem;
  text-align: center;
}
